nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.nav-titel{
    font-size: 45px;
    font-weight: 800;
    color: rgb(19, 19, 19);
}
.name-color{
    color: #fd6e0a;
}
nav >ul {
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}